reporting_provant/src/main/app/reporting_provant.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <ftp:connector name="FTP" pollingFrequency="1000" validateConnections="true" doc:name="FTP"/>
	<flow name="reporting_provant" initialState="started">
		<amqp:inbound-endpoint   	
									
									
									
									queueName="reporting_responses_provant"
									
									
									
									
									connector-ref="amqp_connector_provant" doc:name="reporting_responses_provant" responseTimeout="10000"/>
	        <flow-ref name="reporting_provantMain_Flow" doc:name="reporting_provantMain_Flow"/>
        <amqp:acknowledge-message doc:name="AMQP-0-9 Acknowledge Message"/>
	</flow>
    <sub-flow name="reporting_provantMain_Flow">
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <logger level="INFO" doc:name="Logger"/>
        <flow-ref name="reporting_parser_init_vars" doc:name="reporting_parser_init_vars"/>
        <logger level="INFO" doc:name="Logger"/>
        <db:select config-ref="POSTGRESQL_Connection" doc:name="Retrieve record with correlation id">
            <db:parameterized-query><![CDATA[SELECT * 
FROM reporting
WHERE correlation_id = #[flowVars.correlation_id];]]></db:parameterized-query>
        </db:select>
        <logger level="INFO" doc:name="Logger"/>
        <flow-ref name="mapping_provant" doc:name="mapping_provant"/>
        <flow-ref name="delivery_provant" doc:name="delivery_provant"/>
        <db:delete config-ref="POSTGRESQL_Connection" doc:name="Remove record with correlation id">
            <db:parameterized-query><![CDATA[DELETE FROM reporting 
WHERE correlation_id = #[flowVars.correlation_id];]]></db:parameterized-query>
        </db:delete>
    </sub-flow>
<sub-flow name="reporting_parser_init_vars">
    <set-variable variableName="tenant" value="#[payload.tenant]" doc:name="Set tenant"/>
    <set-variable variableName="startDate" value="#[payload.datetime_from]" doc:name="Set startDate"/>
    <set-variable variableName="endDate" value="#[payload.datetime_to]" doc:name="Set endDate"/>
    <set-variable variableName="correlation_id" value="#[payload.correlation_id]" doc:name="Set correlation_id"/>
</sub-flow>

    <sub-flow name="mapping_provant">
        <logger message="RTV MAPPING" level="INFO" doc:name="Logger"/>
        <set-variable variableName="output" value="#[new java.util.HashMap()]" doc:name="Set output"/>
        <foreach doc:name="For Each">
            <set-variable variableName="currentRow" value="#[payload]" doc:name="Set currentRow"/>
            <set-payload value="#[new java.util.LinkedList()]" doc:name="Set Payload"/>
            <expression-component doc:name="Expression"><![CDATA[#[payload.add(flowVars.currentRow)]]]></expression-component>
            <dw:transform-message doc:name="Transform Message">
                <dw:input-payload doc:sample="list_map.dwl"/>
                <dw:set-payload><![CDATA[%dw 1.0
%output application/csv
---
payload map {
	Date: $.archive_date,
	PID: $.pid,
	UUID: $.dc_identifier_cpid,
	Status: 'OK'
}]]></dw:set-payload>
            </dw:transform-message>
            <object-to-string-transformer doc:name="Object to String"/>
            <logger level="INFO" doc:name="Logger"/>
            <expression-component doc:name="Expression"><![CDATA[#[flowVars.output.put(flowVars.currentRow, payload)]]]></expression-component>
        </foreach>
        <set-payload value="#[flowVars.output]" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
    </sub-flow>
    <sub-flow name="delivery_provant">
        <logger level="INFO" doc:name="Logger" message="RTV DELIVERY"/>
        <foreach collection="#[payload.entrySet()]" doc:name="For Each of output">
            <set-variable variableName="currentItem" value="#[payload.key]" doc:name="Set currentItem"/>
            <logger message="#[&quot;Processing &quot; + flowVars.currentItem]" level="INFO" doc:name="Logger"/>
            <set-payload value="#[payload.value]" doc:name="Set Payload"/>
            <ftp:outbound-endpoint host="${ftp.host}" port="${ftp.port}" path="${ftp.path}" user="${ftp.username}" password="${ftp.password}" outputPattern="#[server.dateTime.format(&quot;YYYYMMdd'T'HHmmss&quot;) + &quot;_&quot; + (flowVars.currentItem.dc_identifier_cpid.equals(&quot;&quot;) ? flowVars.counter : flowVars.currentItem.dc_identifier_cpid) + &quot;_&quot; + flowVars.currentItem.pid + &quot;.csv&quot;]" responseTimeout="10000" doc:name="FTP" connector-ref="FTP">
                <reconnect/>
            </ftp:outbound-endpoint>
        </foreach>
        <logger level="INFO" doc:name="Logger"/>
    </sub-flow>

</mule>
